[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[push]
  default = simple
[color]
  ui = 1
[alias]
  # Shortcuts and typos
  a = add -A .
  b = branch
  bs = branch -a
  cloen = clone
  cm = commit
  co = checkout
  p = push
  s = status -sb

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # Pull submodules as well as main repo
  pullall = !f(){ git pull "$@" && git submodule update --init --recursive; }; f

  # Open on GitHub (requires Hub)
  open = browse

  # Show a pretty visual graph of diffs across branches
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

  # Pop the latest stash. This is usually the only thing I do with git stash anyway.
  pop = stash pop stash@{0}
[core]
  editor = nvim -c start
	excludesfile = ~/.gitignore_global
[credential]
  helper = GIT_CREDENTIAL_HELPER
[github]
  user = daneden
[hub]
  protocol = ssh
[grep]
  lineNumber = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gc]
	auto = 0
[merge]
	tool = Kaleidoscope
[mergetool "nvimdiff"]
  cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[mergetool "Kaleidoscope"]
[difftool "Kaleidoscope"]
[difftool]
[mergetool]
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[commit]
	gpgsign = true
