# Common ignored files
.git
.vim
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
*.swp
.DS_Store
._*
npm-debug.log
*~

# Ignore vim plugins
# We manage vim plugins using Plugged for Vim, which is set up by the installation scripts
vim/**/plugged
vim/**/plug.vim
vim/**/.netrwhist

# Ignore private config
zprivate.symlink
envvars.symlink

# This symlink changes per-machine
init.vim

# Ignore git config in case it has per-machine settings
git/gitconfig.symlink
