# Common ignored files
.git
.vim
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
*.swp
.DS_Store
._*
npm-debug.log

# Ignore vim bundles (easier to manage)
vim/bundle
!vim/bundle/Vundle.vim

vim/.netrwhist

# Ignore private config
zprivate
