# Common ignored files
.git
.vim
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
*.swp
.DS_Store
._*
npm-debug.log
*~

# Ignore vim plugins
# We manage vim plugins using Plugged for Vim, which is set up by the installation scripts
vim/**/plugged
vim/**/plug.*
vim/**/.netrwhist
config.symlink/nvim

# Ignore private config
zprivate.symlink
envvars.symlink

# This symlink changes per-machine
init.vim

# Ignore vcs config in case it has per-machine settings
git/gitconfig.symlink
hg/hgrc.local.symlink

# Ignore `curl`ed files
antigen.zsh
